{% extends 'administrator/base.html' %}
{% load crispy_forms_tags %}
{% block text %}
<div class="container">
<div class="row">


<div class="col-md-6">
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }} well">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }} well">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<center><h2>Eligible Student</h2></center>

</div>

<div class="col-md-4 col-md-offset-2">
	<div class="well">Contact Info

		<hr>
		Tel: +2349032841265<br>
		Email: info@uniben.com
	</div>



	<div class="well">About Us

		<hr>
		
		An E-SIWESS portal is an online portal that will be desiged to enable Student get first hand information about their industrial training program. It will enable student to register their IT (Industrial Training) Online and get Placement Letter Instantly. The system would help in the management of student Industrial Training records.
	</div>


</div>


</div>
</div>
{% endblock %}