{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
		
<style>
  body {
      background-color: #1abc9c;
      color: #ffffff;
  }
 </style>

	

<div class="container-fluid bg-1 text-center">
<div class="row">
	
<div class="col-sm-12">
  <h3>User Profile</h3>
  <img src="{{image.url}}" class="img-circle" alt="Bird" width="350" height="350">
 
  <h3>Username: {{username}} </h3>
	<h3>First Name:{{first_name}} </h3>
<h3>Last Name:{{last_name}} </h3>
<h3>Phone Number:{{phone_number}} </h3>
<a href="{% url 'account:edit_profile' %}"> <button class="btn btn-primary">Edit Profile</button></a>
</div>
</div>
</div>
<!-- Image: <img > <br>
Username: {{username}} <br>
First Name:{{first_name}} <br>
Last Name:{{last_name}} <br>
Email:{{email}} <br> -->

{% endblock %}